.grid-footer-blog {
    width: calc(3vw*26 + .1em);
}

.grid-blog {
    margin-bottom: 9vw;
}

#blog-section {
    margin-bottom: 2vw;
}

#blog-section .div-column:nth-child(1) 
{
    width: 70%;
}

#blog-section .div-column:nth-child(2) 
{
    width: 30%;
    margin-left: 50px;
}

@media screen and (max-width: 1500px) {
    #blog-section 
    {
        flex-direction: column;
    }

    #blog-section .div-column:nth-child(1) 
    {
        width: 100%;
    }

    #blog-section .div-column:nth-child(2) 
    {
        width: 100%;
        margin-left: 0px;
    }
}