#video-game-section {
  margin-bottom: 0px;
  width: 75%;
}

.object-to-filter {
  display: none;
}

.filter-show {
  display: flex;
}

.filter-active-btn {
  background-color: transparent;
}

#filter-btn-container {
  flex-wrap: wrap;
}

/*****************************************************/
.video-game-row 
{
  text-decoration: none;  
  height: 12vw; 
  width: 100%; 
  margin-bottom: 20px;
}

.vgr-text-column 
{
  width: 65%;
  height: 100%;
}

.vgr-text-column h3 
{
  margin: 0;
  font-family: 'Cy Grotesk Heavy', sans-serif;
  text-transform: uppercase;
}

.vgr-text-column p 
{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.vgr-image-container 
{
  border: solid var(--dark-color) 1.5px;
  width: 35%; 
  height: 100%; 
  position: relative;
  overflow: hidden;
}

.video-game-card-img
{
  transition: 0.4s;
  object-fit: cover;
  margin: 0;
  transform: scale(100%);
  width: 100%; 
  height: 100%; 
  position: relative;
}

.video-game-card-img:hover {
  filter: saturate(0.8) sepia(0.7) brightness(70%);
  transform: scale(110%);
}

.technical-tag::after 
{
  background-color: var(--background-color);
}

.steam-tag::after 
{
  background-color: #e88585;
}

.tag-list 
{
  height: 22px;
}