
/*PHOTOMONTAGE*/
#photomontage-section, #td-section {
    width: 100%;
    margin-bottom: 100px;
}

#photomontage-section .div-column, #td-section .div-column {
    width: 50%;
}

#photomontage-section .div-column .div-row, #td-section .div-column .div-row {
    width: 100%;
    padding: 0 20px;
}

#photomontage-section .div-column .div-row img, #td-section .div-column .div-row img {
    width: calc(100%/3);
}

#photomontage-section p, #td-section p {
    padding: 0 20px;
}

.grid-photomontage-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 75 + .1em);
}

#photomontage-section img, #td-section img {
    width: 100%;
    margin-bottom: 20px;
}

.content-line-showcase {
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
}

#photomontage-section .content-line-showcase img {
    width: calc(100%/8);
    object-position: center -20px;
}

/*------3D----------*/

.grid-3d-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 65 + .1em);
}

#td-section .content-line-showcase img {
    width: calc(100%/7);
    object-position: center -20px;
}

/*FIND THE WAY BACK*/

#vg-section {
    margin-bottom: 100px;
}

.grid-ftwb {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 26 + .1em);
}

.grid-sandwalkers {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 21 + .1em);
}

.grid-pop {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 23 + .1em);
}

.grid-pokemon-memory {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 15 + .1em);
}

.grid-chloe-au-musee {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 20 + .1em);
}

.grid-golden-pumpkin {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 15 + .1em); 
}

.grid-those-who-remain {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 19 + .1em); 
}

.grid-chase-tag {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 13 + .1em); 
}

.grid-eba-effect {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 32 + .1em); 
}

#photography-container {
    width: 90%;
    margin: auto;
    gap: 0;
}

.grid-photography {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 60 + .1em); 
}

.other-projects {
    background-color: var(--background-color);
    border: solid 2px var(--secondary-color); 
    width: calc(3vw*30 + .1em); 
    height: 50px;
}

.next-project-button {
    height: 100%; 
    width: 100px; 
    background: linear-gradient(to left, var(--background-color), var(--secondary-color)); 
    font-size: 20px;
    text-decoration: none;
    transform: .3s;
}

.next-project-button:hover {
    color: var(--primary-color);
}

.next-project-title {
    font-family: Barlow; 
    font-weight:700; 
    font-size:20px;
}