.grid-video-game-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 26 + .1em);
}

#video-game-section {
    margin-bottom: 100px;
}

.div-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .div-grid {
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    }
}

@media screen and (max-width: 1000px) {
    .div-grid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px) {
    .div-grid {
        grid-template-columns: 100%;
    }
}

.video-game-card {
    background-color: transparent;
    position: relative;
    width: 90%;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    transform-style: preserve-3d;
}

.video-game-card:after {
    content: '';
    padding-bottom: 100%;
}

.video-game-card-arrow {
    background-color:var(--dark-color);
    position: absolute;
    top: 2.5%;
    left: 3.5%;
    width: 8%;
    height: 10%;
    clip-path: polygon(0 70%, 50% 0, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%);
    z-index: 6;
}

.video-game-card:hover .video-game-card-arrow {
    background-color: var(--light-color);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {background-color: var(--dark-color);}
    50% {background-color: var(--light-color);}
}

.video-game-scroll-div {
    background-color: var(--dark-color);
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 3.5%;
    height: 80%;
    overflow: hidden;
    width: 8%;
    display: flex;
    justify-content: center;
}

.video-game-scroll-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video-game-card h4 {
    color: var(--light-color);
    font-family: 'titleFont', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    transition: .3s;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    animation: scroll-up 10s linear infinite; 
}

@keyframes scroll-up {
    to {
        transform: translateY(-100%);
    }
}

.video-game-card-img {
    transition: .4s;
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
    filter: saturate(0.7) sepia(0.3);
    margin: 0;
}

.video-game-card a {
    background-color:var(--light-color);
    color: var(--primary-color);
    padding: 5px 7px;
    text-decoration: none;
    transition: .3s;
    z-index: 6;
    position: absolute;
    right: -5px;
    bottom: 5%;
    font-size: 20px;
    cursor: none;
}

.video-game-card a:hover {
    background-color:var(--primary-color);
    color:var(--secondary-color);
    right: 0px;
}

.object-to-filter {
    display: none;
}

.filter-show {
    display: flex;
}

.filter-active-btn {
    background-color: transparent;
    color: var(--light-color);
}

