
/*PHOTOMONTAGE*/
#photomontage-section, #td-section {
    width: 100%;
    margin-bottom: 100px;
}

#photomontage-section .div-column, #td-section .div-column {
    width: 50%;
}

#photomontage-section .div-column .div-row, #td-section .div-column .div-row {
    width: 100%;
    padding: 0 20px;
}

#photomontage-section .div-column .div-row img, #td-section .div-column .div-row img {
    width: calc(100%/3);
}

#photomontage-section p, #td-section p {
    padding: 0 20px;
}

.grid-photomontage-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 75 + .1em);
}

#photomontage-section img, #td-section img {
    width: 100%;
    margin-bottom: 20px;
}

.content-line-showcase {
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
}

#photomontage-section .content-line-showcase img {
    width: calc(100%/8);
    object-position: center -20px;
}

/*------3D----------*/

.grid-3d-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*30 + .1em);
    height: calc(3vw * 65 + .1em);
}

#td-section .content-line-showcase img {
    width: calc(100%/7);
    object-position: center -20px;
}

/*FIND THE WAY BACK*/

#vg-section {
    margin-bottom: 100px;
}

.grid-blog {
    margin-top: 120px;
    margin-bottom: 100px;
    width: calc(3vw*26 + .1em);
}

#photography-container {
    width: 100%;
    margin: auto;
    gap: 0;
}

.grid-photography {
    margin-top: 120px;
    margin-bottom: 5vw;
}

@media screen and (max-width: 1000px) {
    #photography-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #photography-container {
        flex-direction: column;
    }
}

.other-projects {
    background-color: var(--background-color);
    border: solid 1.5px var(--dark-color); 
    border-left: 0;
    border-right: 0;
    width: calc(3vw*26 + .1em);
    height: 50px;
    position: absolute;
    bottom: 5.5vw;
    margin: auto;
    left: 0;
    right: 0;
}

.next-project-button {
    height: 100%; 
    width: 100px; 
    font-size: 20px;
    text-decoration: none;
    transform: .3s;
    border: solid 1.5px var(--dark-color); 
    border-top: 0;
    border-bottom: 0;
}

.next-project-button:hover {
    color: var(--primary-color);
}

.next-project-title {
    font-family: Barlow; 
    font-weight:700; 
    font-size:20px;
}

#right-project, #left-project {
    margin: 0;
}

#blog-section img {
    margin-bottom: 1rem;
}