#landing-section h1
{
    width: fit-content;
    color: var(--light-color);
    text-shadow: -2px 0 var(--primary-color), 0 2px var(--primary-color), 2px 0 var(--primary-color), 
    0 -2px var(--primary-color), 0px 5px var(--background-color), 0px 6.5px var(--light-color);
    background-color: transparent;
    position: relative;
}

h1::before 
{
    display: none;
}

#landing-section h1::after
{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    right: -8px;
    top: 0;
    bottom: 6px;
    background-color: var(--light-color);
    text-shadow: 0px 10px var(--light-color);
    z-index: -1;
} 


#project-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 50%;
    padding: 0 15px;
}

#about-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    line-height: 23px;
    padding: 0 10px;
}

#about-section div {
    margin-bottom: 10px;
}

#about-section h3 {
    padding-bottom: 10px;
}

.grid-index-1 {
    bottom: 6vw;
}

#index-main-section {
    width: 75%;
}

@media screen and (max-width: 1000px) {
    #about-section {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #about-section div {
        width: 30%;
        height: fit-content;
        text-align: justify;
    }
    #index-main-section {
        flex-direction: column;
    }
    #project-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #about-section {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #about-section div {
        width: 100%;
        height: fit-content;
        text-align: justify;
    }
    #project-section {
        padding: 0 10px;
    }
}

.project-window2 {
    height: auto;
    padding-top: 35px;
    color: var(--light-color);
}

.icon-social-media {
    width: 40px;
    margin: 5px;
}

.grid-contact-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    /* width: calc(3vw*30 + .1em); */
    height: calc(3vw * 10 + .1em);
}

#contact-section {
    width: 75%;
}