.cursor-default {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    transition: all .2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.cursor-follow {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    transition: all .2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    border: solid var(--primary-color) 1px;
}

.cursor-pointer {
    transform: scale(2);
}

.cursor-hidden {
    display: none;
}

.cursor-hidden2 {
    display: none;
}

#text-to-copy {
    position: absolute;
    user-select: none;
    font-family: Barlow;
    font-weight: 700;
    animation: text-rotation 7.5s linear infinite;
    left: 50%;
    top: 50%;
}

@keyframes text-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#text-to-copy span {
    position: fixed;
    text-transform: uppercase;
    top: -55px;
    display: inline-block;
    transform-origin: 0 55px;
    color: var(--light-color);
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color);
}

.mail-div {
    position: fixed;
    width: 120px;
    height: 110px;
    padding-bottom: 10px;
    margin-left: -60px;
    margin-top: -55px;
    z-index: 100;
    pointer-events: none;
}
