.project-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.project-window1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    background-color: var(--dark-color);
    border: solid 1px var(--light-color);
    overflow: hidden;
    position: relative;
}


.project-window1-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    position: relative;
    filter: brightness(70%);
}

.project-card-data {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s;
}

.project-card-content {
    padding: 7px;
    position: relative;
    z-index: 1;
    background-color: var(--light-color);
}

.new-tag {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    margin-right: 10px;
    color: var(--primary-color);
}

.new-tag-hidden  {
    display: none;
}

#project-menu {
    width: 100%;
    position: relative;
    display: flex;
    height: 10px;
    padding: 0 10px;
    margin-bottom: 40px;
}

#project-menu button {
    border: solid 1px var(--light-color);
    width: 100%;
}

#project-menu button:hover {
    border: solid 1px var(--light-color);
    background-color: var(--light-color);
    padding-bottom: 20px;
    height: 30px;
}

.project-window2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    background-color: var(--background-color);
    border: solid 1px var(--light-color);
    height: 300px;
    position: relative;
}

.project-window2 .project-window-navbar {
    padding: 7px;
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 0.3s;
    z-index: 1;
    background-color: var(--light-color);
}

.project-window2 .project-window-content {
    padding: 10px;
    width: 100%;
}

#project-menu .active {
    background-color: var(--light-color);
}

#project-section .div-column {
    width: 40%;
}

.project-window-btn-more {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .project-div {
        display: flex;
        flex-direction: column;
    }
    .project-window2 {
        display: none;
    }
    .project-window1 {
        margin: 0;
    }
    #project-menu  {
        margin-top: 10px;
        padding-left: 0;
    }
}

#left-button, #right-button {
    background-color: var(--light-color);
    color: var(--primary-color);
}

#left-button:hover, #right-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}