.scroll-text-div {
    width: 78%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.scroll-text-new-div {
    width: 40px;
    position: absolute;
    margin: 0;
    background-color: var(--secondary-color);
    overflow: hidden;
    height: 98%;
}

.scroll-text {
    display: inline-block;
    animation: Scroll 40s forwards linear infinite;
    margin: 0;
}

.scroll-text-new {
    display: inline-block;
    animation: Scroll 10s linear infinite;
    align-self: center;
}

@keyframes Scroll {
    0%{transform: translate(0, 0)}
    100%{transform: translate(-100%, 0)}
}

.scroll-text h5 {
    white-space: nowrap;
    color: var(--background-color);
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color);
    font-size: 8vh;
    font-family: 'CyGrotesk Heavy';
}

.scroll-text-new h5 {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 550;
    white-space: nowrap;
    padding: 7px 0;
    padding-bottom: 6px;
}

.scroll-text span {
    color: var(--primary-color);
}